@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --primary-clr: #96700a;
  --primary-clr-alt: #4b3a02;
  --second-clr: #856d02;
  --second-clr-alt: #977c02;
  --text-clr: #fdff95;
  --alt-text-clr: #5f5905;
  --nav-txt-clr: var(--text-clr);
  --footer-link-clr: #312304;
  --text-clr-bg: #f5fdff;
  --bg-clr: to left top, #fbffad, #eef38a, #f4f76c, #f7f75d, #f1f142, #f0ea3e, #c0bb29, #c0b820, #a39a16, #867c0b, #6b6104, #685c07;
  --mobile-menu-bg-clr: #6d5c3e;
  --sec-two-bg-clr: var(--mobile-menu-bg-clr);
  --form-bg-clr: #dcf1ff70;
  --form-focus-bg-clr: #cfc49373;
  --gray-clr: #f5f8fa;
  --eis-bg-clr: #635536;
  --bx-shadow-clr: #6d477b33;
}

body {
  scroll-behavior: smooth;
  font-family: "Poppins", cursive;
  font-size: 1.2rem;
  color: var(--text-clr);
  background-image: linear-gradient(var(--bg-clr));
  transition: background-color 1000ms;
}

ul {
  list-style: none;
}
img {
  height: auto;
  width: 100%;
  border-radius: 2%;
}
.s-definition {
  font-size: calc(27 * 0.06rem);
  max-width: 32rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}

.clr-transition {
  transition: color 1000ms;
}
.bg-clr__transition {
  transition: background-color 1s;
}

.button {
  cursor: pointer;
  font-size: 1rem;
  height: 3rem;
  padding: 0 1rem;
  border: none;
  border-radius: 2%;
  color: var(--text-clr-bg);
}
.btn-primary {
  background-color: var(--primary-clr);
}
.btn-second-alt {
  background-color: transparent;
  border: thin solid var(--footer-link-clr);
  color: var(--text-clr);
}

.container {
  padding: 1.8rem 3rem;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
  }
}
@media screen and (min-width: 3000px) {
  .container {
    padding: 1.8rem 500px;
  }
}

header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(80px) brightness(0.76);
  position: fixed;
  z-index: 100;
  top: 0%;
}
.logo {
  color: var(--nav-txt-clr);
  font-size: 2rem;
  text-decoration: none;
  margin-right: 2rem;
  font-family: 'major mono display';
  transition: 0.5s;
}
.logo:hover {
  transition: 0.5s;
  color: #ecbb1b;
}
.nav-items {
  display: flex;
  margin-right: 5rem;
}
.nav-item {
  font-family: 'doto';
  font-weight: 700;
  margin-right: 3rem;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-link {
  color: var(--nav-txt-clr);
  text-decoration: none;
  font-size: 1.7rem;
  position: relative;
}
.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: var(--primary-clr-alt);
  bottom: 0;
  transform: scaleX(0);
  transition: 150ms transform;
}
.nav-link:hover::before {
  transform: scaleX(1);
}
.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .logo {
    font-size: 3rem;
  }
  .theme-toggler {
    color: var(--text-clr-bg);
  }
  .nav-items {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .nav-item {
    margin: 0.5rem 0;
  }
  .nav-link {
    color: var(--text-clr-bg);
    font-size: 2rem;
  }
  .navbar {
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--mobile-menu-bg-clr);
    position: absolute;
    padding: 0.5rem 5rem 1rem 1rem;
    border-radius: 0.5rem 0 0 0.5rem;
    top: 5rem;
    right: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms;
  }
  .show-nav {
    transform: scaleX(1);
  }
}

.section-one {
  height: 81.5vh;
}
@media screen and (max-width: 846px) {
  .section-one {
    height: 74vh;
  }
}
@media screen and (max-width: 845px) {
  .section-one {
    height: 68vh;
  }
}
@media screen and (max-width: 546px) {
  .section-one {
    height: 74vh;
  }
}
.home-container {
  margin-top: 2rem;
}
@media screen and (max-width: 348px) {
  .home-container {
    margin-top: 0rem;
  }
}
.home-title {
  font-size: 4rem;
  line-height: 117%;
  max-width: 50rem;
  transition: font-size 1000ms;
  margin-top: 10%;
  background-image: radial-gradient(circle, #80740b, #ffe078);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}
@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.home-sub_title {
  font-size: 30px;
  line-height: 157.5%;
  color: var(--text-clr);
}
.home-subsub_title {
  font-size: 18px;
  line-height: 157.5%;
  color: var(--text-clr);
  margin-top: 0.7rem;
  max-width: 60%;
}
@media screen and (min-width: 414px) {
  .home-title {
    font-size: 92px;
  }
}
.btn-home:hover {
  box-shadow: 5px 5px var(--text-clr);
}
.home-eis-img {
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}
.sprinkle {
  position: absolute;
  width: 20px;
  height: 10px;
  border-radius: 50%; 
  opacity: 0.8;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
      transform: translateY(0);
      opacity: 0.8;
  }
  100% {
      transform: translateY(100vh); /* Fall to the bottom */
      opacity: 0; /* Fade out */
  }
}

@media screen and (min-width: 546px) {
  .home-eis-img {
    display: block;
    width: 250px;
  }
}
@media screen and (min-width: 654px) {
  .home-eis-img {
    width: 320px;
  }
}
@media screen and (min-width: 980px) {
  .home-eis-img {
    width: 400px;
  }
}

.section-two {
  backdrop-filter: blur(50px) brightness(0.9);
  margin-top: 5rem;
}
.s-two-upper-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.s-two-eiss {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (min-width: 700px) {
  .s-two-eiss {
    margin-top: 4rem;
  }
}
.eis {
  cursor: pointer;
  width: 100%;
  height: calc(421 * 0.06rem);
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 1000ms;
}
@media screen and (max-width: 1147px) {
  .eis {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 700px) {
  .eis {
    width: calc(365 * 0.06rem);
  }
}
.eis-one:hover {
  transform: rotateX(360deg);
}
.eis-two:hover {
  transform: rotateY(360deg);
}
.eis-three:hover {
  transform: rotateZ(360deg);
}
.eis-one img {
  max-width: calc(300 * 0.06rem);
  transform: rotate(37deg);
}
.eis-two img {
  max-width: calc(300 * 0.06rem);
  transform: rotate(37deg);
}
.eis-three img {
  max-width: calc(300 * 0.06rem);
  transform: rotate(37deg);
}
@media screen and (min-width: 700px) {
  .eis {
    width: calc(365 * 0.06rem);
  }
}
.section-three {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  color: var(--alt-text-clr)
}
@media screen and (min-width: 843px) {
  .section-three {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1023px) {
  .section-three {
    margin-top: 5rem;
    margin-bottom: 0;
  }
  .section-three {
    align-items: flex-start;
  }
}

.s-three-upper-img-container img {
  width: 100%;
  margin-bottom: 1.3rem;
}
.s-three-upper-img-container {
  transition: transform 0.6s ease;
}
.s-three-upper-img-container:hover {
  transform: translate(-50%, -50%) skew(10deg);
}
@media screen and (min-width: 992px) {
  .s-three-upper-img-container img {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}
@media screen and (min-width: 515px) {
  .s-three-upper-img-container img {
    width: calc(400 * 0.06rem);
  }
}
.s-three-lower-container {
  display: flex;
  flex-direction: column;
}
.s-three-title {
  font-size: 2.5rem;
  max-width: 20rem;
  margin-bottom: 1.5rem;
  color: var(--primary-clr-alt);
}
.s-three-desc {
  margin-bottom: 1.5rem;
}
.recipe-btn {
  max-width: calc(147 * 0.06rem);
  margin-top: 0.8rem;
  background-color: var(--primary-clr);
  color: var(--text-clr-bg);
  transition: box-shadow 300ms;
}
.recipe-btn:hover {
  box-shadow: 5px 5px var(--footer-link-clr);
}

.footer-info {
  color: var(--primary-clr);
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  margin-right: 0.8rem;
  margin-bottom: 0.5rem;
}
.footer-info i {
  margin-right: 0.5rem;
  font-size: 1.4rem;
  color: var(--text-clr);
}
.footer-info a {
  color: var(--footer-link-clr);
}
@media screen and (min-width: 1080px) {
  .footer-info {
    font-size: 1.2rem;
  }
  .footer-info i {
    font-size: 1.4rem;
  }
}

.lower-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-top: 1rem;
}
@media screen and (min-width: 449px) {
  .lower-footer {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.lower-footer::before {
  content: "";
  position: absolute;
  top: 0;
  height: 0.08rem;
  width: 100%;
  opacity: 0.2;
  background-color: var(--primary-clr-alt);
}
.lower-footer-elt {
  margin-bottom: 1rem;
}
@media screen and (min-width: 449px) {
  .lower-footer-elt {
    margin-bottom: 0;
  }
}